[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
click = "*"
jinja2 = "*"
rich = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pylint = "*"
types-pyyaml = "*"

[requires]
python_version = "3.11"
